.content {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--foreground);
    animation: k-loading 0.5s ease-in-out infinite alternate-reverse;
}

@keyframes k-loading {
    from {
        width: 100px;
        height: 100px;
    } to {
        width: 150px;
        height: 150px;
    }
}