.card {
    margin: 50px;
    background-color: var(--foreground);
    color: var(--background);
    height: 20%;
    min-height: 400px;
    width: 25%;
    min-width: 70px;
    border: 2px solid var(--background);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    transition-duration: 0.7s;
}
.card_header {
    font-size: 2vh;
    text-align: center;
}
.card_text {
    font-size: 1.7vh;
    text-align: center;
}