.input__m {
    height: 10%;
    min-height: 30px;
    width: 40%;
    text-indent: 10px;
    border-radius: 8px;
    border: 2px solid var(--secondary-black);
    margin: 30px;
}
.input__l {
    height: 15%;
    margin: 30px;
    min-height: 40px;
    width: 50%;
    text-indent: 10px;
    border-radius: 8px;
    border: 2px solid var(--secondary-black);
}