.footer {
    height: 10vh;
    width: 100%;
    background-color: var(--secondary-black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__text {
    font-size: 3vh;
}